.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pixel-corners_10 { /*Border radius 10*/
    clip-path: polygon(
      0px calc(100% - 20px),
      4px calc(100% - 20px),
      4px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 4px),
      20px calc(100% - 4px),
      20px 100%,
      calc(100% - 20px) 100%,
      calc(100% - 20px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 20px),
      100% calc(100% - 20px),
      100% 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 0px,
      20px 0px,
      20px 4px,
      12px 4px,
      12px 8px,
      8px 8px,
      8px 12px,
      4px 12px,
      4px 20px,
      0px 20px
    );
  }

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #83d74b;

}

.content{
    margin: 65px 65px 135px 65px;
    height: 100vh;
}

#logo_home{
    margin: 20px 0px;
    height: 150px;
    width: auto;
    display: flex;
    justify-self: center;
}

#filter_button{
    padding: 10px 20px;

    display: flex;
    justify-self: center;

    background-color:  #5EBF76;

    font-size: 20px;
}

#filter_container{
    justify-self: center;
}

#filter_select{
    font-size: 20px;
}

#list_151_first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sticker_span_id{
    margin: 10px 0px 0px 10px;
    font-size: 16px;
    align-self: flex-start;
}

#sticker_span_name{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#sticker_span_type{
    background-color: rgb(206, 206, 206);
    padding: 2px 7px;
    margin: 0px 5px;
    border-radius: 10px;
}

#sticker_span_type::first-letter {
    text-transform: uppercase;
}

#sticker_div_name_and_types{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
}

#list_151_first img {
    height: 200px;
    width: auto;
}

#id_div_sticker {
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2); /* Fond plus sombre */
    transition: transform 0.5s, background-color 0.5s, filter 0.5s;
    filter: grayscale(70%);
}

#id_div_sticker::before {
    content: ""; /* Nécessaire pour afficher un pseudo-élément */
    position: absolute; /* Positionner le pseudo-élément */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/pokeball.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s ease; /* Transitions de l'opacité */
    border-radius: 10px; /* Assure que l'image de fond respecte les bords arrondis */
}

#id_div_sticker:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: grayscale(0%);
    transition: transform 0.5s, background-color 0.5s, filter 0.5s;;

}

#id_div_sticker:hover::before {
    opacity: 1; /* Montre l'image de fond au survol */
    z-index: -1;
}


#id_div_sticker:hover #sticker_span_img {
    filter: grayscale(0%);
}

#space{   /*sert à avoir un espace sous le content qui nous permet de voir tout les éléments*/
    height: 140px;
    width: auto;
}

/*Screen Pokedex effect*/
#screen{
    position: relative;
    z-index: 1;
}

#top_bar{
    position: fixed;
    top: 0;
    background-color: rgb(196, 196, 196);
    height: 65px;
    width: 100vw;
    border-bottom: 3px solid rgb(99, 99, 99);

    box-shadow: 0px 0px 20px rgb(59, 59, 59);
}

#two_circle{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 70px;
}

#two_circle div{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #D30B3F;
}

#left_bar{
    position: fixed;
    left: 0;
    background-color: rgb(196, 196, 196);
    height: 100vh;
    width: 65px;

    border-right: 3px solid rgb(146, 145, 145);
}

#right_bar{
    position: fixed;
    right: 0;
    background-color: rgb(196, 196, 196);
    height: 100vh;
    width: 65px;

    box-shadow: -5px 20px 20px rgb(59, 59, 59);
}

#bottom_bar{
    position: fixed;
    bottom: 0;
    background-color: rgb(196, 196, 196);
    height: 135px;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

#corner_red{
    bottom: 0;
    left: 0;

    border-style: solid;
    border-width: 0 120px 120px 0px;
    border-color: transparent transparent rgb(99, 99, 99) transparent;
}

#corner_gray{
    position: absolute;
    
    bottom: 0;
    left: 0;
    
    border-style: solid;
    border-width: 0 100px 100px 0px;
    border-color: transparent transparent #D30B3F transparent;
}

    /*Input*/
        /*Bouton input*/
.search-container {
    display: flex;
    align-self: center;
    margin-left: 50px;
    background: white;
    border-radius: 50px;
    height: 80px;
    transition: width 0.3s ease,
                background-color 0.6s ease;
    background-color: #00000000;
}
#bottom_bar_input {
    border: none;
    outline: none;
    width: 0px;
    height: auto;
    font-size: 30px;
    border-radius: 50px;
    padding: 0px 10px;
    transition: width 0.3s ease,
                background-color 0.6s ease;
    background-color: #00000000;
}
.search-container.active #bottom_bar_input {
    width: 250px;
}

.search-container.active {
    background-color: #8F082A;
}

#bottom_bar_button {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #D30B3F;
    transition: 0.4s;
}

#icon_bottom_bar_button{
    font-size: 30px;
}

#bottom_bar_button:hover{
    background-color: #8F082A;
    color: #27DEF2;

    transition: 0.4s;
}
    /*Input*/

#four_lines{
    position: absolute;

    margin-top: 40px;
    right: 10vw;
    width: 150px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#four_lines div{
    height: 10px;
    width: auto;
    background-color: rgb(99, 99, 99);
    box-shadow:  inset 0px 0px 10px rgb(0, 0, 0);
}


#footer_span{
    position: absolute;
    color: rgb(142, 142, 142);
    bottom: 0;
    right: 0;
    margin-right: 30px;
}

@media (max-width: 1440px) {
    #top_bar{
        position: fixed;
        top: 0;
        background-color: rgb(196, 196, 196);
        height: 35px;
        width: 100vw;
        border-bottom: 3px solid rgb(99, 99, 99);
        box-shadow: 0px 0px 20px rgb(59, 59, 59);
    }
    
    #two_circle{

        margin-top: 10px;
        gap: 70px;
    }
    
    #two_circle div{
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: #D30B3F;
    }
    
    #left_bar{
        position: fixed;
        left: 0;
        top: 35px;
        background-color: rgb(196, 196, 196);
        height: 100vh;
        width: 35px;
    
        border-right: 3px solid rgb(146, 145, 145);
    }
    
    #right_bar{
        position: fixed;
        right: 0;
        top: 35px;
        background-color: rgb(196, 196, 196);
        height: 100vh;
        width: 35px;
    }
    
    #bottom_bar{
        height: 110px;
    }
    
    #corner_red{
        bottom: 0;
        left: 0;
    
        border-style: solid;
        border-width: 0 100px 100px 0px;
        border-color: transparent transparent rgb(99, 99, 99) transparent;
    }
    
    #corner_gray{
        position: absolute;
        
        bottom: 0;
        left: 0;
        
        border-style: solid;
        border-width: 0 80px 80px 0px;
        border-color: transparent transparent #D30B3F transparent;
    }
}

@media (max-width: 750px) {
    body{
        background-color: rgb(253, 104, 49);
    }
    
    .content{
        margin: 65px 35px 135px 35px;
        height: 100vh;
    }
    
    #logo_home{
        height: 80px
    }
    
    #filter_button{
        padding: 10px 20px;
    
        display: flex;
        justify-self: center;
    
        background-color:  #5EBF76;
    }
    
    #list_151_first{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #list_151_first{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #list_151_first div{
        height: auto;
        width: 100px;
    }
    
    #list_151_first img{
        height: 80px;
        width: auto;
    }

    #space{   /*sert à avoir un espace sous le content qui nous permet de voir tout les éléments*/
        height: 115px;
        width: auto;
    }
    
    /*Screen Pokedex effect*/
    #screen{
        position: relative;
    }
    
    /*Input*/
    .search-container {
        display: flex;
        align-self: center;
        margin-left: 10px;
        background: white;
        border-radius: 50px;
        height: 55px;
        transition: width 0.3s ease,
                    background-color 0.6s ease;
        background-color: #00000000;
    }
    #bottom_bar_input {
        border: none;
        outline: none;
        width: 0px;
        height: auto;
        font-size: 20px;
        border-radius: 50px;
        padding: 0px 10px;
        transition: width 0.3s ease,
                    background-color 0.6s ease;
        background-color: #00000000;
    }
    .search-container.active #bottom_bar_input {
        width: 100px;
    }

    .search-container.active {
        background-color: #8F082A;
    }

    #bottom_bar_button {
        cursor: pointer;
        width: 55px;
        height: 55px;
        border-radius: 50px;
        background-color: #D30B3F;
        transition: 0.4s;
    }

    #icon_bottom_bar_button{
        font-size: 22px;
    }

    #bottom_bar_button:hover{
        background-color: #8F082A;
        color: #27DEF2;

        transition: 0.4s;
    }
    /*Input*/
    
    
    #four_lines{
        display: none;        
    }
    
    #four_lines div{
        height: 10px;
        width: auto;
        background-color: rgb(99, 99, 99);
        box-shadow:  inset 0px 0px 10px rgb(0, 0, 0);
    }
    
    
    #footer_span{
        position: absolute;
        color: rgb(142, 142, 142);
        bottom: 0;
        right: 0;
        margin-right: 30px;
    }
}

@media (max-width: 425px) {
    #list_151_first {
        flex-direction: column;
        align-items: center;
    }

    #id_div_sticker {
        width: 100%;
        max-width: 400px; /* Pour éviter que ça soit trop large sur certains écrans */
    }
}