body{
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../img/9.svg);
    /* background-size: ; */
}

.content{
    margin: 65px 65px 135px 65px;
    height: 100vh;
}

#logo_home{
    margin: 20px 0px;
    height: 100px;
    width: auto;
    display: flex;
    justify-self: center;
}

#filter_button{
    padding: 10px 20px;

    display: flex;
    justify-self: center;

    background-color:  #5EBF76;
}

#list_151_first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#space{   /*sert à avoir un espace sous le content qui nous permet de voir tout les éléments*/
    height: 140px;
    width: auto;
}

/*Screen Pokedex effect*/
#screen{
    position: relative;
}

#top_bar{
    position: fixed;
    top: 0;
    background-color: rgb(196, 196, 196);
    height: 65px;
    width: 100vw;
    border-bottom: 3px solid rgb(99, 99, 99);
}

#two_circle{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 70px;
}

#two_circle div{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #D30B3F;
}

#left_bar{
    position: fixed;
    left: 0;
    background-color: rgb(196, 196, 196);
    height: 100vh;
    width: 65px;

    border-right: 3px solid rgb(146, 145, 145);
}

#right_bar{
    position: fixed;
    right: 0;
    background-color: rgb(196, 196, 196);
    height: 100vh;
    width: 65px;
}

#bottom_bar{
    position: fixed;
    bottom: 0;
    background-color: rgb(196, 196, 196);
    height: 135px;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

#corner_red{
    bottom: 0;
    left: 0;

    border-style: solid;
    border-width: 0 120px 120px 0px;
    border-color: transparent transparent rgb(99, 99, 99) transparent;
}

#corner_gray{
    position: absolute;
    
    bottom: 0;
    left: 0;
    
    border-style: solid;
    border-width: 0 100px 100px 0px;
    border-color: transparent transparent #D30B3F transparent;
}

#bottom_bar_button{
    margin-top: 40px;
    margin-left: 100px;
    
    border-radius: 50px;
    height: 80px;
    width: 80px;
    
    background-color: #D30B3F;

    transition: 0.4s;
}

#icon_bottom_bar_button{
    font-size: 30px;
}
#bottom_bar_button:hover{
    background-color: #8F082A;
    color: #27DEF2;

    transition: 0.4s;
}

#bottom_bar_input.show {
    opacity: 100%;
    width: 30vw;
}

#bottom_bar_input{

    transition: width 0.5s, opacity 0.5s;

    margin-top: 40px;
    height: 70px;

    opacity: 0;
    width: 0;

    background-color: #8F082A;

    color: white;
    font-size: 24px;
    padding: 0px 0px 0px 20px;
}


#bottom_bar_button_favorite{
    margin-top: 40px;
    margin-left: 100px;

    border-radius: 50px;
    height: 80px;
    width: 80px;

    background-color: #D30B3F;

    transition: 0.4s;
}

#icon_bottom_bar_button_favorite{
    font-size: 30px;
}


#bottom_bar_button_favorite:hover{
    background-color: #8F082A;
    color: #5EBF76;
    transition: 0.4s;
}


#four_lines{
    position: absolute;

    margin-top: 40px;
    right: 10vw;
    width: 150px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#four_lines div{
    height: 10px;
    width: auto;
    background-color: rgb(99, 99, 99);
    box-shadow:  inset 0px 0px 10px rgb(0, 0, 0);
}


#footer_span{
    position: absolute;
    color: rgb(142, 142, 142);
    bottom: 0;
    right: 0;
}
